EMQX_IMAGE=emqx/emqx:5.8.8
EMQX_NODE_COOKIE=emqxcluster
EMQX_CLUSTER_STATIC_SEEDS=[emqx@emqx1.mqtt.local,emqx@emqx2.mqtt.local,emqx@emqx3.mqtt.local]

EMQX_DASHBOARD_DEFAULT_USERNAME=admin
EMQX_DASHBOARD_DEFAULT_PASSWORD=change-me

MQTT_SSL_CERT_FILE=STAR_wrtual_in.chain.crt
MQTT_SSL_KEY_FILE=star_wrtual.key

EMQX1_MQTT_PORT=1883
EMQX1_MQTTS_PORT=8883
EMQX1_WS_PORT=8083
EMQX1_DASHBOARD_PORT=18083

EMQX2_MQTT_PORT=1884
EMQX2_MQTTS_PORT=8884
EMQX2_WS_PORT=8084
EMQX2_DASHBOARD_PORT=18084

EMQX3_MQTT_PORT=1885
EMQX3_MQTTS_PORT=8885
EMQX3_WS_PORT=8085
EMQX3_DASHBOARD_PORT=18085
