STATUS_PAGE_TITLE=MQTT Cluster Status
STATUS_PAGE_PORT=8088
MONITOR_TIMEOUT_SECONDS=5

EMQX_DOCKER_NETWORK=mqtt-cluster_mqtt-net
EMQX_NODE_URLS=http://emqx1.mqtt.local:18083,http://emqx2.mqtt.local:18083,http://emqx3.mqtt.local:18083
EMQX_DASHBOARD_USERNAME=admin
EMQX_DASHBOARD_PASSWORD=change-me
